/*Call Us button*/
.social-button{
        display: inline-grid;
        position: fixed;
        bottom: 146px;
        right: 16px;
        min-width: 45px;
        text-align: center;
        z-index: 99999;
        background-color: transparent !important;
    }

.social-button-content{
      display: inline-grid;   
    }

.social-button svg {
    width: 40px;
    height: 40px;
/*    background: #43a1f3;*/
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}

.social-button a 
{
    padding:8px 0;cursor: pointer;position: relative;
}

.social-button i{
      width: 40px;
        height: 40px;
      /*  background: #43a1f3;*/
        color: #fff;
        border-radius: 100%;
        font-size: 20px;
        text-align: center;
        line-height: 1.9;
        position: relative;
        z-index: 999;
        left: 6px;
        bottom: 7px;
}

.social-button span{
      display: none;
    }

.alo-circle {
animation-iteration-count: infinite;
animation-duration: 1s;
animation-fill-mode: both;
animation-name: zoomIn;
height: 50px;
top: 3px;
right: -3px;
position: absolute;
background-color: transparent;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
border: 2px solid rgba(30, 30, 30, 0.4);
opacity: .1;
border-color: #0089B9;
opacity: .5;
}

.alo-circle-fill {
animation-iteration-count: infinite;
animation-duration: 1s;
animation-fill-mode: both;
animation-name: pulse;
width: 50px;
height: 50px;
top: -2px;
right: -8px;
position: absolute;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
border: 2px solid transparent;
background-color: rgba(0, 175, 242, 0.5);
opacity: .75;
}
/**
 * FB
 */
.ctrlq.fb-button{ 
     width: 48px !important;
    height: 48px !important;
    z-index: 9999999999 !important;
    bottom: 90px!important;
    right: 5px !important;  

}

.bubble-msg{
    font-size: 10px!important;
}